<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Home
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 60px;">
    <h1>Admin</h1>

    <ul class="list-group">
        <li class="list-group-item active">
            Category
        </li>
        <li class="list-group-item">
            <a href="#!/admin/user">Users</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/follow">Follow</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/likedmovies">Favorite Movies</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/likedcities">Favorite Cities</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/likedcinemas">Favorite Cinemas</a>
        </li>
        <li class="list-group-item">
            <a href="#!/admin/review">Reviews</a>
        </li>
    </ul>
</div>