#environment{
	background-color: #F2F2F2;
}


.recommendation{
	padding:150px;
	color:#4D4D4D；
}


.review{
	padding:150px;
	background-color: white;

}
#card{
	padding:20px;
	background-color: white;
}
#title{
	color:#4D4D4D;
}

.jumbotron{
	margin:0px;
	padding:50px;
}

.navbar-header .navbar-brand img{
	width: 25px;
	height: 25px;

}

.carousel-slide {
	padding-top: 200px;
}


