<div ng-controller="showtimeController as model"
     class="container-fluid">
    <h1>showtime API</h1>

    <h2>Search</h2>
    <input ng-model="name" class="form-control"/>

    <button ng-click="model.searchCinemaByCity(name)" class="btn btn-primary btn-block">
        Search
    </button>

    <ul class="list-group">
        <li ng-repeat="cinema in model.cinemas">
            <h2>Result for "{{cinema.name}}"</h2>
            <img ng-src="{{cinema.telephone}}"/>
            {{cinema.website}}
            {{cinema.address}}
        </li>
    </ul>
</div>
