<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/profile">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Profile
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid" style="margin-top: 60px;">
    <h3>My Reviews</h3>
    <div ng-show="model.reviews.length === 0" class="alert alert-info">
        You have no reviews.
    </div>

    <div class="list-group">
        <ul class="list-group-item" ng-repeat="review in model.reviews" style="padding-left: 20px;">
            <li >
                {{review.content}}
            </li>
        </ul>
    </div>
</div>