<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/profile">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Profile
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid" style="margin-top: 60px;">

    <h3>My Following</h3>
    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>

    <ul class="list-group">
        <li ng-repeat="user in model.followings" class="list-group-item">
            {{user.username}}
            <a ng-click="model.unfollow(user._id)">
                <span ng-if="model.amIfollowing(user._id)" class="glyphicon glyphicon-star pull-right"></span>
            </a>
        </li>
    </ul>
</div>