<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row navbar-header">

            <div class="col-md-1 col-sm-3 col-xs-4">
                <a class="navbar-brand" ng-click="model.updateWebsite(model.websiteId, model.oldWebsite)">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="col-md-2 hidden-sm hidden-xs">
                <a class="navbar-brand" href="">
                    Websites
                </a>
            </div>

            <div class="col-sm-1 hidden-xs">
                <p class="navbar-text pull-right">
                    <a href="#!/user/{{model.userId}}/website/new" class="navbar-link" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </p>
            </div>

            <div class="col-xs-8">
                <div class="navbar-header navbar-brand">
                    <a id="title" href="">
                        Edit Website
                    </a>
                    <p class="pull-right">
                        <a ng-click="model.updateWebsite(model.websiteId, model.website)" class="navbar-link">
                            <span class="glyphicon glyphicon-ok"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 hidden-xs">
            <div class="container-fluid">
                <ul class="list-group">

                    <li class="list-group-item active">

            <div class="row">
                <div class="col-lg-4 col-md-7 col-xs-10">
                    <h5>
                        Name
                    </h5>
                </div>

                <div class="col-lg-3 visible-lg">
                    <h5>
                        Created
                    </h5>
                </div>

                <div class="col-md-3 hidden-sm hidden-xs">
                    <h5>
                        Accessed
                    </h5>
                </div>

                <div class="col-xs-2">
                </div>
            </div>
        </li>

                    <li ng-repeat="oldWebsite in model.oldWebsites" class="list-group-item">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-xs-9">
                                <a href="#!/user/{{model.userId}}/website/{{oldWebsite._id}}/page">
                                    {{oldWebsite.name}}
                                </a>
                            </div>
                            <div class="col-lg-3 visible-lg">
                                {{oldWebsite.created | date}}
                            </div>
                            <div class="col-md-3 hidden-sm hidden-xs">
                                {{oldWebsite.accessed | date}}
                            </div>
                            <div class="col-xs-3">
                                <a href="#!/user/{{model.userId}}/website/{{oldWebsite._id}}">
                                    <span class="glyphicon glyphicon-cog pull-right"></span>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-sm-8 col-xs-12">

            <label for="name">Name</label>
            <input type="text"
                   class="form-control"
                   ng-model="model.website.name"
                   placeholder="facebook"
                   id="name"/>

            <label for="description">Description</label>
            <textarea id="description"
                      rows="5"
                      ng-model="model.website.description"
                      placeholder="So big it is its onw country"
                      class="form-control"></textarea>

            <a ng-click="model.updateWebsite(model.websiteId, model.website)"
               class="btn btn-block btn-success">
                Update
            </a>

            <a ng-click="model.deleteWebsite(model.websiteId)"
               class="btn btn-block btn-danger">
                Delete
            </a>

        </div>
    </div>
</div>


<div ng-include="'views/common/footer.view.client.html'"></div>