<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="model.widget.name"
       placeholder="Name"
       class="form-control"/>

<label for="text">Text</label>
<input type="text"
       id="text"
       ng-model="model.widget.text"
       placeholder="Text"
       class="form-control"/>

<label for="url">URL</label>
<input type="text"
       value="https://i.kinja-img.com/gawker-media/image/upload/s--_UeK_W4Q--/c_scale,fl_progressive,q_80,w_800/b1k7ibisql4ntp0dihxm.jpg"
       id="url"
       placeholder="https://i.kinja-img.com/gawker-media/image/upload/s--skLneMRl--/c_scale,fl_progressive,q_80,w_800/ke28cnkionplurvkljfh.jpg"
       ng-model="model.widget.url"
       class="form-control"/>

<label for="width">Width</label>
<input type="text"
       value="100%"
       id="width"
       ng-model="model.widget.width"
       placeholder="80%"
       class="form-control"/>

<label>Search photos on Flickr</label>
<a class="btn btn-info btn-block" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search">
    Search
</a>

<label>Upload local photo</label>
<form action="/api/upload"   method="post" enctype="multipart/form-data">
    <input  name="myFile"    type="file" class="form-control"/>
    <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
    <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
    <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
    <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
    <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
</form>