<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="model.widget.name"
       ng-class="{submitted:model.submitted}"
       placeholder="Name"
       class="form-control" required/>
<div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>

<label for="text">Text</label>
<input type="text"
       id="text"
       ng-model="model.widget.text"
       placeholder="Text"
       class="form-control"/>

<label for="url">URL</label>
<input type="text"
       value="https://www.youtube.com/watch?v=ArgL13GaWrY"
       id="url"
       ng-model="model.widget.url"
       placeholder="https://www.youtube.com/watch?v=AskU27GcTuP"
       class="form-control"/>

<label for="width">Width</label>
<input type="text"
       id="width"
       value="100%"
       ng-model="model.widget.width"
       placeholder="80%"
       class="form-control"/>