<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="model.widget.name"
       placeholder="Name"
       class="form-control"/>

<label for="text">Text</label>
<input type="text"
       id="text"
       ng-model="model.widget.text"
       placeholder="Text"
       class="form-control"/>

<label for="url">URL</label>
<input type="text"
       value="https://i.kinja-img.com/gawker-media/image/upload/s--_UeK_W4Q--/c_scale,fl_progressive,q_80,w_800/b1k7ibisql4ntp0dihxm.jpg"
       id="url"
       placeholder="https://i.kinja-img.com/gawker-media/image/upload/s--skLneMRl--/c_scale,fl_progressive,q_80,w_800/ke28cnkionplurvkljfh.jpg"
       ng-model="model.widget.url"
       class="form-control"/>

<label for="width">Width</label>
<input type="text"
       value="100%"
       id="width"
       ng-model="model.widget.width"
       placeholder="80%"
       class="form-control"/>

<label for="upload">Upload</label>
<input type="file"
       id="upload"
       class="form-control"/>