<br>
<label for="name">Name</label>
<input type="text"
       id="name"
       ng-model="model.widget.name"
       placeholder="Name"
       class="form-control"/>

<label for="text">Text</label>
<input type="text"
       value="Some art demands awe, no matter how dull or corrupt the critical apparatus of the viewer."
       id="text"
       placeholder="Text"
       ng-model="model.widget.text"
       class="form-control"/>

<label for="size">Size</label>
<select id="size"
        class="form-control"
        ng-model="model.widget.size"
        ng-options="option.size as option.title for option in model.options">
    <option value="">Select a size</option>
</select>