<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#!/search">
                <span class="glyphicon glyphicon-chevron-left"></span>
                Search
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid" style="margin-top:40px;">

    <h1 style="display:inline-block;">{{model.movie.Title}}</h1>

    <a ng-click="model.likemovie(model.movie)" >
        <span ng-if="!model.amIliking" class="glyphicon glyphicon-heart-empty "></span>
    </a>

    <a ng-click="model.unlikemovie(model.movie)" >
        <span ng-if="model.amIliking" class="glyphicon glyphicon-heart"></span>
    </a>

    <!--<a ng-click="model.updateUser(model.userId, model.user)" class="navbar-link">-->
        <!--<span class="glyphicon glyphicon-heart-empty"></span>-->
    <!--</a>-->

    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="text-align:center;">
            <img ng-src="{{model.movie.Poster}}" width="300px" style="padding:40px 0px;"/>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12" >
            <div>
            <h4>{{model.movie.Director}}</h4>
            <p>{{model.movie.Plot}}</p>
            <h4>Cast</h4>
            <ul>
                <li ng-repeat="actor in model.movie.Actors.split(',')">
                    {{actor}}
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>