<link href="../../project/css/search.style.css" rel="stylesheet"/>

<div ng-controller="omdbController as model"
     class="container-fluid">
    <h1>OMDB API</h1>

    <div class="row">
            <h2>Search</h2>
            <input ng-model="title" class="form-control"/>

            <button ng-click="model.searchByTitle(title)" class="btn btn-primary btn-block">
                Search
            </button>


            <ul class="list-group">
                <li ng-click="model.searchMovieByImdbID(movie.imdbID)" ng-repeat="movie in model.movies"
                    class="list-group-item">
                    <img ng-src="{{movie.Poster}}"/>
                    {{movie.Title}}
                    {{movie.imdbID}}
                </li>
            </ul>
        </div>
    </div>
</div>

