<body id="environment">

<!--navi-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img alt="logo" src="resources/logo.png" width="25" height="25"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#">Movie</a></li>
                <li><a href="#">TV Series</a></li>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Movie Name">
                    </div>
                    <a ng-click="model.searchByTitle(title)"
                       class="btn btn-default">Search</a>
                </form>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a ng-click="model.login(username, password)" class="btn btn-default navbar-btn">Log in</a>
                <a href="#!/register" class="btn btn-default navbar-btn">Sign up</a>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--banner1-->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="resources/banner-01.png">
            <div class="carousel-caption">
                <h1>Wonder Woman</h1>
                <h5>When a pilot crashes and tells of conflict in the outside world, she leaves home to fight a war to end all wars, discovering her full powers and true destiny.</h5>
                <br>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="resources/banner-02.png" >
            <div class="carousel-caption">
                <h1>Pirates Of The Caribbean</h1>
                <h5>Captain Jack Sparrow searches for the trident of Poseidon while being pursued by an undead sea captain and his crew.</h5>
                <br>
            </div>
        </div>

        <div class="item">
            <img class="img-responsive" src="resources/banner-03.png" >
            <div class="carousel-caption">
                <h1>Guardians Of The Galaxy</h1>
                <h5>The Guardians must fight to keep their newfound family together as they unravel the mystery of Peter Quill's true parentage.</h5>
                <br>
            </div>
        </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>

    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

    </a>
</div>

<!--recommendation-->
<div class='recommendation' >
    <div>
        <h3>Recommendations For You</h3>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" id="card" >
                <img src="resources/demo.jpg" alt="...">
                <div class="caption" id="title">
                    <h3>movie name</h3>
                    <p>detail</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" id="card">
                <img src="resources/demo.jpg" alt="...">
                <div class="caption" id="title">
                    <h3>movie name</h3>
                    <p>detail</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" id="card">
                <img src="resources/demo.jpg" alt="...">
                <div class="caption" id="title">
                    <h3>movie name</h3>
                    <p>detail</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail" id="card">
                <img src="resources/demo.jpg" alt="...">
                <div class="caption" id="title">
                    <h3>movie name</h3>
                    <p>detail</p>
                </div>
            </div>
        </div>
    </div>

</div>
<!--review-->
<div class="review">
    <div>

        <h3>Reviews</h3>
        <br>
        <br>
    </div>
    <div class="jumbotron">
        <h1>Dangal</h1>
        <p>Within that tight-lipped mask, He finds a hundred ways to communicate emotion. </p>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
<!--footer-->
<div class="container" id="footer">
    <hr>
    <div class="text-center center-block">

        <a href="https://www.facebook.com/bootsnipp"><img src="resources/socialmedia-01.png" href="https://www.facebook.com/" width="60" heigh="60"></a>
        <a href="https://www.facebook.com/bootsnipp"><img src="resources/socialmedia-02.png" href="https://www.facebook.com/" width="60" heigh="60"></a>
        <a href="https://www.facebook.com/bootsnipp"><img src="resources/socialmedia-03.png" href="https://www.facebook.com/" width="60" heigh="60"></a>
        <a href="https://www.facebook.com/bootsnipp"><img src="resources/socialmedia-04.png" href="https://www.facebook.com/" width="60" heigh="60"></a>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>